*{
    background-color: #0d0d85;
    color: white;
    font-family: sans-serif, "Times New Roman", Helvetica;
    text-align: center;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
    margin-bottom: 32px;
}

h2{
    font-size: 24px;
    text-decoration: underline;
}
.testing{
    margin: auto;
    width: 50%;
}
.ulHomePage{
    width: 50%;
    margin: auto;
}

.ulHomePage li{
    text-align: center;
    list-style-type: none;
}

ol li,
ul li,
h2,
p{
    text-align: left;
}

ul li{
    list-style-type: disc;
}

ul{
    font-size: 18px;
}

li{
    margin: 15px 0px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}