*{
    background-color: #0d0d85;
    color: white;
    font-family: sans-serif, "Times New Roman", Helvetica;
}

h1{
    text-align: center;
    font-size: 32px;
}

ul{
    font-size: 18px;
    text-align: center;
    list-style-type: none;
}

li{
    margin: 15px 0px;
}